In [47]:
!pip install duckdb pandas

import numpy as np
import pandas as pd 
import duckdb

Requirement already satisfied: duckdb in c:\users\ashutosh raj\appdata\local\programs\python\python312\lib\site-packages (1.2.0)

[notice] A new release of pip is available: 24.3.1 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in c:\users\ashutosh raj\appdata\local\programs\python\python312\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\ashutosh raj\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ashutosh raj\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ashutosh raj\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ashutosh raj\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\ashutosh raj\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [48]:
df1=pd.read_excel("TradeFile1.xlsx")
df2=pd.read_excel("TradeFile2.xlsx")
df3=pd.read_excel("TradeFile3.xlsx")

In [49]:
broker_trades = pd.concat([df1, df2, df3], ignore_index=True)

In [50]:
broker_trades

,Deal Date,party code/SEBI regn code of party,Instrument ISIN,Buy/Sell Flag,QTY,COST,Col 8,NET AMOUNT,Brokerage Amount,Settlement Date,STT,Exchange Code,Depository Code
0,2024-06-12,BROKER1CODE,INE700A01033,B,12000,1102.5208,NaN,1.324015e+07,3175.3620,2024-06-13,6728.0,NSE,NSDL
1,2024-06-12,BROKER1CODE,INE738I01010,B,680,3596.6491,NaN,2.451306e+06,1791.0385,2024-06-13,3794.0,NSE,NSDL
2,2024-06-12,BROKER1CODE,INE457L01029,B,5358,980.0940,NaN,5.253027e+06,539.8040,2024-06-13,1144.0,NSE,NSDL
3,2024-06-12,BROKER1CODE,INE665J01013,B,581,3878.5800,NaN,2.269389e+06,5109.3474,2024-06-13,10825.0,NSE,NSDL
4,2024-06-12,BROKER1CODE,INE982J01020,S,30000,984.8773,NaN,2.954146e+07,1557.0160,2024-06-13,3298.0,NSE,NSDL
5,2024-06-12,BROKER1CODE,INE00F201020,B,1740,2945.0290,NaN,5.137607e+06,4250.7440,2024-06-13,9006.0,NSE,NSDL
6,2024-06-12,BROKER1CODE,INE0NT901020,B,7308,2708.5418,NaN,1.981908e+07,8033.5456,2024-06-13,17020.0,NSE,NSDL
7,2024-06-12,BROKER1CODE,INE321T01012,B,900,2569.1558,NaN,2.320189e+06,2549.0654,2024-06-13,5400.0,NSE,NSDL
8,2024-06-12,BROKER1CODE,INE736A01011,B,30000,1817.9672,NaN,5.461237e+07,23522.9836,2024-06-13,49836.0,NSE,NSDL
9,2024-06-12,BROKER1CODE,INE818H01020,S,8208,406.0803,NaN,3.308351e+06,7937.0132,2024-06-13,16819.0,NSE,NSDL
10,2024-06-12,BROKER1CODE,INE624Z01016,S,9000,673.4637,NaN,6.054973e+06,1988.0976,2024-06-13,4212.0,NSE,NSDL
11,2024-06-12,BROKER1CODE,INE002A01018,B,4200,1570.0000,NaN,6.600237e+06,2015.6000,2024-06-13,4221.0,NSE,NSDL
12,2024-06-12,BROKER2CODE,INE700A01033,B,22000,1095.0000,NaN,2.409990e+07,3175.3620,2024-06-13,6728.0,NSE,NSDL
13,2024-06-12,BROKER2CODE,INE665J01013,B,581,3950.0000,NaN,2.310884e+06,5109.3474,2024-06-13,10825.0,NSE,NSDL
14,2024-06-12,BROKER2CODE,INE736A01011,B,25000,1825.0700,NaN,4.570011e+07,23522.9836,2024-06-13,49836.0,NSE,NSDL
15,2024-06-12,BROKER2CODE,INE624Z01016,S,4000,680.0000,NaN,2.713800e+06,1988.0976,2024-06-13,4212.0,NSE,NSDL
16,2024-06-12,BROKER2CODE,INE002A01018,B,3930,1550.0000,NaN,6.097372e+06,1972.9410,2024-06-13,3899.6,NSE,NSDL
17,2024-06-12,BROKER3CODE,INE700A01033,B,15884,1105.6000,NaN,1.757125e+07,3175.3620,2024-06-13,6728.0,NSE,NSDL
18,2024-06-12,BROKER3CODE,INE736A01011,B,12500,1810.0000,NaN,2.269836e+07,23522.9836,2024-06-13,49836.0,NSE,NSDL
19,2024-06-12,BROKER3CODE,INE624Z01016,S,6080,650.0000,NaN,3.945800e+06,1988.0976,2024-06-13,4212.0,NSE,NSDL
20,2024-06-12,BROKER3CODE,INE002A01018,B,2010,1525.0000,NaN,3.068223e+06,1001.0000,2024-06-13,1971.6,NSE,NSDL

In [51]:
broker_trades["party code/SEBI regn code of party"].value_counts()

party code/SEBI regn code of party
BROKER1CODE    12
BROKER2CODE     5
BROKER3CODE     4
Name: count, dtype: int64

In [52]:

con = duckdb.connect("trades.db")

In [53]:
tables = con.execute("SHOW TABLES").fetchdf()

print(tables)

     name
0  trades

In [54]:
client_orders = con.execute("SELECT * FROM Trades").fetchdf()

In [55]:
client_orders

            UCC    Ticker          ISIN Direction  Quantity
0     CLIENT004      CDSL  INE736A01011       Buy      2875
1     CLIENT006      CDSL  INE736A01011       Buy      2600
2     CLIENT006   LTFOODS  INE818H01020      Sell       888
3     CLIENT006      PGEL  INE457L01029       Buy       323
4     CLIENT070      CDSL  INE736A01011       Buy      3633
..          ...       ...           ...       ...       ...
111  CLIENT1205  RELIANCE  INE002A01018       Buy      1025
112  CLIENT1211  RELIANCE  INE002A01018       Buy      1325
113  CLIENT1218  RELIANCE  INE002A01018       Buy       825
114  CLIENT1243  RELIANCE  INE002A01018       Buy       780
115  CLIENT1356  RELIANCE  INE002A01018       Buy       282

[116 rows x 5 columns]

In [56]:
# edge cases  : adding the more quantity in both the clients order and the broker orders to see the excess quantity 


extra_trade = pd.DataFrame([{
    "Deal Date": broker_trades["Deal Date"].max(),
    "party code/SEBI regn code of party": "BROKER4CODE",
    "Instrument ISIN": "INE002A01018",
    "Buy/Sell Flag": "B",
    "QTY": 50000,  # Updated quantity
    "COST": 1525,
    "Col 8": None,
    "NET AMOUNT": 8000000,
    "Brokerage Amount": 2000,
    "Settlement Date": broker_trades["Deal Date"].max(),
    "STT": 4000,
    "Exchange Code": None,
    "Depository Code": None
}])

broker_trades = pd.concat([broker_trades, extra_trade], ignore_index=True)


new_client_order = pd.DataFrame([{
    "UCC": "CLIENT999",
    "Ticker": "TCS",
    "ISIN": "INE012A01025",
    "Direction": "Buy",
    "Quantity": 1000  # No broker trades available
}])

client_orders = pd.concat([client_orders, new_client_order], ignore_index=True)

In [57]:
broker_trades

,Deal Date,party code/SEBI regn code of party,Instrument ISIN,Buy/Sell Flag,QTY,COST,Col 8,NET AMOUNT,Brokerage Amount,Settlement Date,STT,Exchange Code,Depository Code
0,2024-06-12,BROKER1CODE,INE700A01033,B,12000,1102.5208,NaN,1.324015e+07,3175.3620,2024-06-13,6728.0,NSE,NSDL
1,2024-06-12,BROKER1CODE,INE738I01010,B,680,3596.6491,NaN,2.451306e+06,1791.0385,2024-06-13,3794.0,NSE,NSDL
2,2024-06-12,BROKER1CODE,INE457L01029,B,5358,980.0940,NaN,5.253027e+06,539.8040,2024-06-13,1144.0,NSE,NSDL
3,2024-06-12,BROKER1CODE,INE665J01013,B,581,3878.5800,NaN,2.269389e+06,5109.3474,2024-06-13,10825.0,NSE,NSDL
4,2024-06-12,BROKER1CODE,INE982J01020,S,30000,984.8773,NaN,2.954146e+07,1557.0160,2024-06-13,3298.0,NSE,NSDL
5,2024-06-12,BROKER1CODE,INE00F201020,B,1740,2945.0290,NaN,5.137607e+06,4250.7440,2024-06-13,9006.0,NSE,NSDL
6,2024-06-12,BROKER1CODE,INE0NT901020,B,7308,2708.5418,NaN,1.981908e+07,8033.5456,2024-06-13,17020.0,NSE,NSDL
7,2024-06-12,BROKER1CODE,INE321T01012,B,900,2569.1558,NaN,2.320189e+06,2549.0654,2024-06-13,5400.0,NSE,NSDL
8,2024-06-12,BROKER1CODE,INE736A01011,B,30000,1817.9672,NaN,5.461237e+07,23522.9836,2024-06-13,49836.0,NSE,NSDL
9,2024-06-12,BROKER1CODE,INE818H01020,S,8208,406.0803,NaN,3.308351e+06,7937.0132,2024-06-13,16819.0,NSE,NSDL
10,2024-06-12,BROKER1CODE,INE624Z01016,S,9000,673.4637,NaN,6.054973e+06,1988.0976,2024-06-13,4212.0,NSE,NSDL
11,2024-06-12,BROKER1CODE,INE002A01018,B,4200,1570.0000,NaN,6.600237e+06,2015.6000,2024-06-13,4221.0,NSE,NSDL
12,2024-06-12,BROKER2CODE,INE700A01033,B,22000,1095.0000,NaN,2.409990e+07,3175.3620,2024-06-13,6728.0,NSE,NSDL
13,2024-06-12,BROKER2CODE,INE665J01013,B,581,3950.0000,NaN,2.310884e+06,5109.3474,2024-06-13,10825.0,NSE,NSDL
14,2024-06-12,BROKER2CODE,INE736A01011,B,25000,1825.0700,NaN,4.570011e+07,23522.9836,2024-06-13,49836.0,NSE,NSDL
15,2024-06-12,BROKER2CODE,INE624Z01016,S,4000,680.0000,NaN,2.713800e+06,1988.0976,2024-06-13,4212.0,NSE,NSDL
16,2024-06-12,BROKER2CODE,INE002A01018,B,3930,1550.0000,NaN,6.097372e+06,1972.9410,2024-06-13,3899.6,NSE,NSDL
17,2024-06-12,BROKER3CODE,INE700A01033,B,15884,1105.6000,NaN,1.757125e+07,3175.3620,2024-06-13,6728.0,NSE,NSDL
18,2024-06-12,BROKER3CODE,INE736A01011,B,12500,1810.0000,NaN,2.269836e+07,23522.9836,2024-06-13,49836.0,NSE,NSDL
19,2024-06-12,BROKER3CODE,INE624Z01016,S,6080,650.0000,NaN,3.945800e+06,1988.0976,2024-06-13,4212.0,NSE,NSDL
20,2024-06-12,BROKER3CODE,INE002A01018,B,2010,1525.0000,NaN,3.068223e+06,1001.0000,2024-06-13,1971.6,NSE,NSDL
21,2024-06-12,BROKER4CODE,INE002A01018,B,50000,1525.0000,None,8.000000e+06,2000.0000,2024-06-12,4000.0,None,None

In [58]:
broker_trades.to_csv("broker_trades2.csv", index=False)
client_orders.to_csv("client_orders2.csv", index=False)

MATCHING DATA

In [59]:

def normalize_order_directions(client_orders):
    
    client_orders["Direction"] = client_orders["Direction"].map({"Buy": "B", "Sell": "S"})
    return client_orders

def compute_broker_summary(broker_group, broker_code, isin, matched_quantity, match_status):
    
    return {
        "Broker": broker_code,
        "ISIN": isin,
        "Total Matched Quantity": matched_quantity,
        "Total Brokerage": broker_group["Brokerage Amount"].sum(),
        "Total STT": broker_group["STT"].sum(),
        "Total Trades": len(broker_group),
        "Match Status": match_status
    }

def allocate_trade_quantities(client_group, broker_group, broker_code, isin, total_trade_quantity):
   
    matched_trades = []
    allocated_qty = 0  

    client_group = client_group.sort_values(by="Quantity", ascending=True)  

    for _, broker_trade in broker_group.iterrows():
        trade_qty = broker_trade["QTY"]
        brokerage = broker_trade["Brokerage Amount"]
        stt = broker_trade["STT"]
        trade_direction = broker_trade["Buy/Sell Flag"]
        cost_per_share = broker_trade["COST"]

        for _, client_order in client_group.iterrows():
            if client_order["Direction"] != trade_direction:
                continue  

            client_qty = client_order["Quantity"]
            matched_qty = min(client_qty, trade_qty)

            proportion = matched_qty / total_trade_quantity  
            allocated_brokerage = proportion * brokerage
            allocated_stt = proportion * stt
            execution_slippage = client_order["Quantity"] - matched_qty

            total_cost = (cost_per_share * matched_qty) + allocated_brokerage + allocated_stt

            matched_trades.append({
                "order_id": client_order["UCC"],  
                "trade_id": broker_trade.name,  
                "broker": broker_code,
                "symbol": client_order["Ticker"],
                "isin": isin,
                "matched_qty": matched_qty,
                "status": "Partial" if matched_qty < client_qty else "Matched",
                "execution_slippage": round(execution_slippage, 2),
                "allocated_brokerage": round(allocated_brokerage, 2),
                "allocated_stt": round(allocated_stt, 2),
                "total_cost": round(total_cost, 2)
            })

            trade_qty -= matched_qty
            allocated_qty += matched_qty

            if trade_qty == 0:
                break

    return matched_trades, allocated_qty

def process_trade_matching(client_orders, broker_trades):
    
    client_orders = normalize_order_directions(client_orders)
    
    matched_trades = [] 
    unmatched_trades = []
    broker_summary = []
    
    # client_orders  prespective
    
    for (isin, broker_code), broker_group in broker_trades.groupby(["Instrument ISIN", "party code/SEBI regn code of party"]):
        client_group = client_orders[client_orders["ISIN"] == isin]
        total_client_quantity = client_group["Quantity"].sum()
        total_trade_quantity = broker_group["QTY"].sum()

        if client_group.empty:
            broker_summary.append(compute_broker_summary(broker_group, broker_code, isin, 0, "Not Matched"))
            unmatched_trades.extend(broker_group.to_dict("records"))
            continue

        match_status = "Unmatched" if total_client_quantity > total_trade_quantity else "Fully Matched" if total_client_quantity == total_trade_quantity else "Excess"

        matched, allocated_qty = allocate_trade_quantities(client_group, broker_group, broker_code, isin, total_trade_quantity)
        matched_trades.extend(matched)

        if total_trade_quantity > total_client_quantity:
            unmatched_trades.append({
                "Trade_ID": broker_group.index[0],  
                "Broker": broker_code,
                "ISIN": isin,
                "Excess_QTY": total_trade_quantity - total_client_quantity,
                "Status": "Excess"
            })

        broker_summary.append(compute_broker_summary(broker_group, broker_code, isin, allocated_qty, match_status))

    return pd.DataFrame(matched_trades), pd.DataFrame(unmatched_trades), pd.DataFrame(broker_summary)


matched_trades_df, unmatched_trades_df, broker_summary_df = process_trade_matching(client_orders, broker_trades)

In [60]:
matched_trades_df

,order_id,trade_id,broker,symbol,isin,matched_qty,status,execution_slippage,allocated_brokerage,allocated_stt,total_cost
0,CLIENT1356,11,BROKER1CODE,RELIANCE,INE002A01018,282,Matched,0,135.33,283.41,443158.74
1,CLIENT006,11,BROKER1CODE,RELIANCE,INE002A01018,520,Matched,0,249.55,522.60,817172.15
2,CLIENT004,11,BROKER1CODE,RELIANCE,INE002A01018,575,Matched,0,275.95,577.88,903603.82
3,CLIENT1186,11,BROKER1CODE,RELIANCE,INE002A01018,700,Matched,0,335.93,703.50,1100039.43
4,CLIENT1176,11,BROKER1CODE,RELIANCE,INE002A01018,700,Matched,0,335.93,703.50,1100039.43
...,...,...,...,...,...,...,...,...,...,...,...
167,CLIENT1202,4,BROKER1CODE,PAYTM,INE982J01020,3625,Matched,0,188.14,398.51,3570766.86
168,CLIENT070,4,BROKER1CODE,PAYTM,INE982J01020,3770,Matched,0,195.67,414.45,3713597.53
169,CLIENT1243,4,BROKER1CODE,PAYTM,INE982J01020,3770,Matched,0,195.67,414.45,3713597.53
170,CLIENT1211,4,BROKER1CODE,PAYTM,INE982J01020,5220,Matched,0,270.92,573.85,5141904.28
171,CLIENT1205,4,BROKER1CODE,PAYTM,INE982J01020,8830,Partial,3205,458.28,970.71,8697895.55

In [61]:
matched_trades_df.status.value_counts()

status
Matched    156
Partial     16
Name: count, dtype: int64

In [62]:
unmatched_trades_df

   Trade_ID       Broker          ISIN  Excess_QTY  Status
0        21  BROKER4CODE  INE002A01018       36501  Excess

In [63]:
broker_summary_df

,Broker,ISIN,Total Matched Quantity,Total Brokerage,Total STT,Total Trades,Match Status
0,BROKER1CODE,INE002A01018,4200,2015.6000,4221.0,1,Unmatched
1,BROKER2CODE,INE002A01018,3930,1972.9410,3899.6,1,Unmatched
2,BROKER3CODE,INE002A01018,2010,1001.0000,1971.6,1,Unmatched
3,BROKER4CODE,INE002A01018,13499,2000.0000,4000.0,1,Excess
4,BROKER1CODE,INE00F201020,1740,4250.7440,9006.0,1,Fully Matched
5,BROKER1CODE,INE0NT901020,7308,8033.5456,17020.0,1,Fully Matched
6,BROKER1CODE,INE321T01012,900,2549.0654,5400.0,1,Unmatched
7,BROKER1CODE,INE457L01029,5358,539.8040,1144.0,1,Fully Matched
8,BROKER1CODE,INE624Z01016,9000,1988.0976,4212.0,1,Unmatched
9,BROKER2CODE,INE624Z01016,4000,1988.0976,4212.0,1,Unmatched
10,BROKER3CODE,INE624Z01016,6080,1988.0976,4212.0,1,Unmatched
11,BROKER1CODE,INE665J01013,581,5109.3474,10825.0,1,Unmatched
12,BROKER2CODE,INE665J01013,581,5109.3474,10825.0,1,Unmatched
13,BROKER1CODE,INE700A01033,12000,3175.3620,6728.0,1,Unmatched
14,BROKER2CODE,INE700A01033,22000,3175.3620,6728.0,1,Unmatched
15,BROKER3CODE,INE700A01033,15884,3175.3620,6728.0,1,Unmatched
16,BROKER1CODE,INE736A01011,30000,23522.9836,49836.0,1,Unmatched
17,BROKER2CODE,INE736A01011,25000,23522.9836,49836.0,1,Unmatched
18,BROKER3CODE,INE736A01011,12500,23522.9836,49836.0,1,Unmatched
19,BROKER1CODE,INE738I01010,680,1791.0385,3794.0,1,Fully Matched
20,BROKER1CODE,INE818H01020,8208,7937.0132,16819.0,1,Fully Matched
21,BROKER1CODE,INE982J01020,30000,1557.0160,3298.0,1,Unmatched

In [64]:
matched_trades_df.to_csv("clients_matched_trades_df_final2.csv", index=False)

unmatched_trades_df.to_csv("clients_unmatched_trades_df_final2.csv", index=False)
broker_summary_df.to_csv("broker_summary_df_final2.csv", index=False)

In [65]:

def store_in_duckdb(matched_trades, unmatched_trades, broker_summary_df):
    conn = duckdb.connect("Update_trades_2.db")

    
    conn.execute("""
        CREATE TABLE IF NOT EXISTS reconciliation_client_results (
            order_id TEXT, trade_id INTEGER, broker TEXT, symbol TEXT, isin TEXT,
            matched_qty INTEGER, status TEXT, execution_slippage REAL,
            allocated_brokerage REAL, allocated_stt REAL, total_cost REAL
        )
    """)

    conn.execute("""
        CREATE TABLE IF NOT EXISTS unmatched_trades (
            Trade_ID INTEGER, Broker TEXT, ISIN TEXT, Excess_QTY INTEGER, Status TEXT
        )
    """)

    conn.execute("""
        CREATE TABLE IF NOT EXISTS broker_summary (
            Broker TEXT, ISIN TEXT, "Total Matched Quantity" INTEGER,
            "Total Brokerage" REAL, "Total STT" REAL, "Total Trades" INTEGER, "Match Status" TEXT
        )
    """)

    
    if unmatched_trades.empty:
        unmatched_trades = pd.DataFrame(columns=["Trade_ID", "Broker", "ISIN", "Excess_QTY", "Status"])

    if broker_summary_df.empty:
        broker_summary_df = pd.DataFrame(columns=["Broker", "ISIN", "Total Matched Quantity", "Total Brokerage", "Total STT", "Total Trades", "Match Status"])
    
    conn.register("matched_trades_temp", matched_trades)
    conn.register("unmatched_trades_temp", unmatched_trades)
    conn.register("broker_summary_df", broker_summary_df)

    
    if not matched_trades.empty:
        conn.execute("""
            INSERT INTO reconciliation_client_results 
            SELECT order_id, trade_id, broker, symbol, isin, matched_qty, status, 
                   execution_slippage, allocated_brokerage, allocated_stt, total_cost 
            FROM matched_trades_temp
        """)

    if not unmatched_trades.empty:
        conn.execute("""
            INSERT INTO unmatched_trades 
            SELECT Trade_ID, Broker, ISIN, Excess_QTY, Status 
            FROM unmatched_trades_temp
        """)

    if not broker_summary_df.empty:
        conn.execute("""
            INSERT INTO broker_summary 
            SELECT Broker, ISIN, "Total Matched Quantity", "Total Brokerage", 
                   "Total STT", "Total Trades", "Match Status" 
            FROM broker_summary_df
        """)

    conn.close()
    


store_in_duckdb(matched_trades_df, unmatched_trades_df, broker_summary_df)

In [66]:

conn = duckdb.connect("Update_trades2.db")
tables = conn.execute("SHOW TABLES").fetchall()

for table in tables:
    
    table_name = table[0]
    print(f"table_name: {table_name}")
    
    schema = conn.execute(f"DESCRIBE {table_name}").fetchdf() 
 
    df = conn.execute(f"SELECT * FROM {table_name} LIMIT 5").fetchdf()
    print(df)
    
conn.close()

In [67]:
# # edge cases  : adding the more quantity in both the clients order and the broker orders to see the excess quantity 


# extra_trade = pd.DataFrame([{
#     "Deal Date": broker_trades["Deal Date"].max(),
#     "party code/SEBI regn code of party": "BROKER4CODE",
#     "Instrument ISIN": "INE002A01018",
#     "Buy/Sell Flag": "B",
#     "QTY": 50000,  # Updated quantity
#     "COST": 1525,
#     "Col 8": None,
#     "NET AMOUNT": 8000000,
#     "Brokerage Amount": 2000,
#     "Settlement Date": broker_trades["Deal Date"].max(),
#     "STT": 4000,
#     "Exchange Code": None,
#     "Depository Code": None
# }])

# broker_trades = pd.concat([broker_trades, extra_trade], ignore_index=True)


# new_client_order = pd.DataFrame([{
#     "UCC": "CLIENT999",
#     "Ticker": "TCS",
#     "ISIN": "INE012A01025",
#     "Direction": "Buy",
#     "Quantity": 1000  # No broker trades available
# }])

# client_orders = pd.concat([client_orders, new_client_order], ignore_index=True)